.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    background: #101010;
    margin: 3px;
    color: white;
    padding: 10px;
}

.bigCounter{
    display: inline-block;
    text-align: center;
}