.homeContainer{
    width: 1000px;
    height: 100vh;
display: flex;
flex-direction: column;
padding: 10px;
background: gray;
}
.homeList{
    display: flex;
   
    
}
.homeStories{
    text-decoration: none;
    height: 150px;
}